<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
    </configSections>
    <connectionStrings>
        <add name="Listened" connectionString="Initial Catalog=Listened;Data Source=.\SQLEXPRESS;Integrated Security=SSPI;"/>
    </connectionStrings>
    <appSettings>
        <add key="FromEmail" value="friend@phishermansguide.com" />
        <add key="ForgotSubject" value="Phisherman's Guide User and Password" />
    </appSettings>

    <location path="Forgot">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Forgot.aspx">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Login">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Login.aspx">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="CreateUser">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="CreateUser.aspx">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Styles">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Handlers">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Scripts">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="images">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Masters">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>

    <location path="Admin">
        <system.web>
            <authorization>
                <allow roles="Administrators"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0" />
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" timeout="43200" cookieless="UseCookies" name=".ListenedListCookie"/>
        </authentication>
        <authorization>
            <allow roles="Registered"/>
            <allow roles="Moderator"/>
            <allow roles="Administrators"/>
            <deny users="*"/>
        </authorization>
        <membership defaultProvider="AspNetSqlMembershipProvider">
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="Core.Membership.ListenedSqlMembershipProvider" connectionStringName="Listened" resetPasswordLength="10" userNameMinLength="6" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Listened"/>
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
            <providers>
                <clear/>
                <add connectionStringName="Listened" applicationName="Listened" name="AspNetSqlRoleProvider" type="Core.Membership.ListenedSqlRoleProvider"/>
            </providers>
        </roleManager>
        <profile inherits="Core.Membership.UserProfile" defaultProvider="AspNetSqlProfileProvider">
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Listened" applicationName="Listened" />
            </providers>
        </profile>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <controls>
                <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
            </controls>
        </pages>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <system.net>
        <mailSettings>
            <smtp>
                <network host="mail.phishermansguide.com" port="25" userName="friend@phishermansguide.com" password="friend1" />
            </smtp>
        </mailSettings>
    </system.net>

    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="LogFileAppender"/>
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="C:\\Projects\\Phish Listened List Project\\ListenedList\\Logs\\ListenedListLog.txt"/>
            <param name="AppendToFile" value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
            </layout>
        </appender>
    </log4net>
</configuration>