/*----------------  TAGS --------------*/

/*BLUE*/
.blueTag
{
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 53px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #528ecc;
}
.blueTag:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background: -moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color: #378de5;
}
.blueTag:active
{
    position: relative;
    top: 1px;
}

/*RED*/
.redTag
{
    -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
    background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background-color: #fe1a00;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #d83526;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 53px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #b23e35;
}
.redTag:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
    background: -moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color: #ce0100;
}
.redTag:active
{
    position: relative;
    top: 1px;
}

/*GREEN*/
.greenTag
{
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #77d42a;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #268a16;
    display: inline-block;
    color: #306108;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 53px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #aade7c;
}
.greenTag:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color: #5cb811;
}
.greenTag:active
{
    position: relative;
    top: 1px;
}

/*ORANGE*/
.orangeTag
{
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background: -moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color: #ffc477;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 53px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #cc9f52;
}
.orangeTag:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background: -moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color: #fb9e25;
}
.orangeTag:active
{
    position: relative;
    top: 1px;
}

/*PURPLE*/
.purpleTag
{
    -moz-box-shadow: inset 0px 1px 0px 0px #e184f3;
    -webkit-box-shadow: inset 0px 1px 0px 0px #e184f3;
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
    background: -moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
    background-color: #c123de;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #a511c0;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 53px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #9b14b3;
}
.purpleTag:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
    background: -moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
    background-color: #a20dbd;
}
.purpleTag:active
{
    position: relative;
    top: 1px;
}

/*YELLOW*/
.yellowTag
{
    -moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
    background: -moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
    background-color: #ffec64;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #ffaa22;
    display: inline-block;
    color: #333333;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 53px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffee66;
}
.yellowTag:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
    background: -moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
    background-color: #ffab23;
}
.yellowTag:active
{
    position: relative;
    top: 1px;
}




/*------------DEFAULT PAGE BUTTONS------------*/

/*WHITE*/
.defaultButtonWhite
{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #000000;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}
.defaultButtonWhite:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}
.defaultButtonWhite:active
{
    position: relative;
    top: 1px;
}


/*ORANGE*/
.defaultButtonOrange
{
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background: -moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color: #ffc477;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #7d7877;
    display: inline-block;
    color: #000000;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #cc9f52;
}
.defaultButtonOrange:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background: -moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color: #fb9e25;
}
.defaultButtonOrange:active
{
    position: relative;
    top: 1px;
}



/*YELLOW*/
.defaultButtonYellow
{
    -moz-box-shadow: inset 0px 1px 0px 0px #f9eca0;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f9eca0;
    box-shadow: inset 0px 1px 0px 0px #f9eca0;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #ffff00) );
    background: -moz-linear-gradient( center top, #f0c911 5%, #ffff00 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#ffff00');
    background-color: #f0c911;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #7d7877;
    display: inline-block;
    color: #000000;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ded17c;
}
.defaultButtonYellow:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffff00), color-stop(1, #f0c911) );
    background: -moz-linear-gradient( center top, #ffff00 5%, #f0c911 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#f0c911');
    background-color: #ffff00;
}
.defaultButtonYellow:active
{
    position: relative;
    top: 1px;
}


/*GREEN*/
.defaultButtonGreen
{
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #77d42a;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #7d7877;
    display: inline-block;
    color: #000000;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #aade7c;
}
.defaultButtonGreen:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color: #5cb811;
}
.defaultButtonGreen:active
{
    position: relative;
    top: 1px;
}




/*------------Search Page Buttons----------*/

.subscribeButton
{
    -moz-box-shadow: inset 0px 0px 0px 0px #dcecfb;
    -webkit-box-shadow: inset 0px 0px 0px 0px #dcecfb;
    box-shadow: inset 0px 0px 0px 0px #dcecfb;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2a65a1), color-stop(1, #0080ff) );
    background: -moz-linear-gradient( center top, #2a65a1 5%, #0080ff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a65a1', endColorstr='#0080ff');
    background-color: #2a65a1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 23px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #528ecc;
}
.subscribeButton:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0080ff), color-stop(1, #2a65a1) );
    background: -moz-linear-gradient( center top, #0080ff 5%, #2a65a1 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0080ff', endColorstr='#2a65a1');
    background-color: #0080ff;
}
.subscribeButton:active
{
    position: relative;
    top: 1px;
}

.subscribedButton
{
    -moz-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
    background: -moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
    background-color: #fc8d83;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    color: #ffffff;
    font-family: Comic Sans MS;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 13px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #b23e35;
}
.subscribedButton:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83) );
    background: -moz-linear-gradient( center top, #e4685d 5%, #fc8d83 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83');
    background-color: #e4685d;
}
.subscribedButton:active
{
    position: relative;
    top: 1px;
}

.attendedButton
{
    border-style: double;
    border-width: 3px;
    border-color: Red;
}





/*--------------AddShows Buttons----------------*/

.buttonSave {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:12px 40px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}.buttonSave:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.buttonSave:active {
	position:relative;
	top:1px;
}






/*-------------Misc----------*/
.textLeft
{
    text-align: left;
    padding-right: 10px;
}

hr.horizontalRule1
{
    height: .5em;
    width: 100%;
    border: 1px solid #000;
    color: #333333;
    background-color: #333333;
}



/*-------------impromptu---------- */
.jqifade
{
    position: absolute;
    background-color: #aaaaaa;
}
div.jqi
{
    width: 400px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}
div.jqi .jqicontainer
{
    font-weight: bold;
}
div.jqi .jqiclose
{
    position: absolute;
    top: 4px;
    right: -2px;
    width: 18px;
    cursor: default;
    color: #bbbbbb;
    font-weight: bold;
}
div.jqi .jqimessage
{
    padding: 10px;
    line-height: 20px;
    color: #444444;
}
div.jqi .jqibuttons
{
    text-align: right;
    padding: 5px 0 5px 0;
    border: solid 1px #ffffff;
    background-color: #ffffff;
}
div.jqi button
{
    padding: 3px 10px 4px; 
    
    /* This was changed on 5/4/12           margin: 0 10px;   TO */
    
    margin: 8px 10px; 
    
    /*background-color: #2F6073;*/
    
    border: solid 1px #f4f4f4; 
    
    /*color: #ffffff;*/
    font-weight: bold;
    font-size: 13px;
}
div.jqi button:hover
{
    background-color: #728A8C;
}
.jqiwarning .jqi .jqibuttons
{
    background-color: #BF5E26;
}


/* Taken out on 5/2/12
div.jqi button.jqidefaultbutton
{
    background-color: #BF5E26;
}

*/


/* Added on 5/2/12   */
button#jqi_state0_buttonCancel
{
    background-color: White;
}

button#jqi_state0_buttonFinished
{
    background-color: #ffc477;
}

button#jqi_state0_buttonInProgress
{
    background-color: #f0c911;
}

button#jqi_state0_buttonNeedToListen
{
    background-color: #77d42a;
}

button#jqi_state0_buttonNeverHeard
{
    background-color: #dcdcdc;
}

button#jqi_state0_buttonEditNotes
{
    background-color: Olive;
}

button#jqi_state0_buttonAttended
{
    background-color: Red;
}

/*-------------------------------- */






/*------------------------------
	brown theme
------------------------------
*/
.brownJqiwarning .brownJqi
{
    background-color: #cccccc;
}
.brownJqifade
{
    position: absolute;
    background-color: #ffffff;
}
div.brownJqi
{
    position: absolute;
    background-color: transparent;
    padding: 10px;
    width: 300px;
    text-align: left;
}
div.brownJqi .brownJqiclose
{
    float: right;
    margin: -20px 0 0 0;
    cursor: pointer;
    color: #777777;
    font-size: 11px;
}
div.brownJqi .brownJqicontainer
{
    position: relative;
    background-color: transparent;
    border: solid 1px #5F5D5A;
    color: #ffffff;
    font-weight: bold;
}
div.brownJqi .brownJqimessage
{
    position: relative;
    background-color: #F7F6F2;
    border-top: solid 1px #C6B8AE;
    border-bottom: solid 1px #C6B8AE;
}
div.brownJqi .brownJqimessage h3
{
    background: url(../images/brown_theme_gradient.jpg) top left repeat-x #ffffff;
    margin: 0;
    padding: 7px 0 7px 15px;
    color: #4D4A47;
}
div.brownJqi .brownJqimessage p
{
    padding: 10px;
    color: #777777;
}
div.brownJqi .brownJqimessage img.helpImg
{
    position: absolute;
    bottom: -25px;
    left: 10px;
}
div.brownJqi .brownJqibuttons
{
    text-align: right;
}
div.brownJqi button
{
    background: url(../images/brown_theme_gradient.jpg) top left repeat-x #ffffff;
    border: solid #777777 1px;
    font-size: 12px;
    padding: 3px 10px 3px 10px;
    margin: 5px 5px 5px 10px;
}
div.brownJqi button:hover
{
    border: solid #aaaaaa 1px;
}
