/*  BUTTONS  */
.tag {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:2px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:13px 53px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.tag:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.tag:active {
	position:relative;
	top:1px;
}



/*-------------Misc----------*/
.textLeft
{
    text-align: left; padding-right:10px;
}

hr.horizontalRule1
{
	height:.5em;
	width:100%;
	border:1px solid #000;
	color:#333333;
	background-color:#333333;
}



/*-------------impromptu---------- */
.jqifade
{
    position: absolute;
    background-color: #aaaaaa;
}
div.jqi
{
    width: 400px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}
div.jqi .jqicontainer
{
    font-weight: bold;
}
div.jqi .jqiclose
{
    position: absolute;
    top: 4px;
    right: -2px;
    width: 18px;
    cursor: default;
    color: #bbbbbb;
    font-weight: bold;
}
div.jqi .jqimessage
{
    padding: 10px;
    line-height: 20px;
    color: #444444;
}
div.jqi .jqibuttons
{
    text-align: right;
    padding: 5px 0 5px 0;
    border: solid 1px #eeeeee;
    background-color: #f4f4f4;
}
div.jqi button
{
    padding: 3px 10px;
    margin: 0 10px;
    background-color: #2F6073;
    border: solid 1px #f4f4f4;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
div.jqi button:hover
{
    background-color: #728A8C;
}
div.jqi button.jqidefaultbutton
{
    background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons
{
    background-color: #BF5E26;
}
/*-------------------------------- */